/*Big tablet to 1200px (width small than the 1140px row)*/
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 7vw;
    padding-top: 2vw;
  }

  h2 {
    padding-top: 20vw;
  }

  h2:hover {
    color: #a72a49;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .fa:hover {
    opacity: 0.7;
  }

  p.note {
    font-size: 100%;
  }
  div.col.span-4-of-7.box {
    margin-left: 200px;
  }

  p.result-title,
  p.physdesc,
  p.type,
  p.collection,
  p.period {
    font-size: 1.8vw;
    line-height: 2.5vw;
  }

  h3.result-title {
    margin-bottom: 40px;
  }

  h3.result-title {
    color: #996a30;
    font-weight: 500;
    font-size: 4vw;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 2.5vw;
    font-weight: 400;
    opacity: 70%;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* smalltablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 9vw;
    padding-top: 2vw;
    line-height: 12vw;
    margin-left: 23px;
    letter-spacing: 0.5vw;
  }

  p.note {
    line-height: 4vw;
    font-size: 80%;
  }

  .search {
    margin-left: 23px;
    margin-bottom: 0px;
  }

  label {
    padding: 5px;
    font-size: 80%;
  }

  button {
    font-size: 70%;
    position: absolute;
    display: inline;
    margin-left: 10px;
  }

  input#title {
    margin-left: 23px;
  }

  .fa {
    padding: 2px;
    font-size: 5px;
  }

  p#reference {
    font-size: 1.5vw;
  }

  h2 {
    font-size: 12vw;
  }
  h2:hover {
    color: #a72a49;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .fa:hover {
    opacity: 0.7;
  }

  p.result-title,
  p.physdesc,
  p.type,
  p.collection,
  p.period {
    font-size: 2.5vw;
    line-height: 4vw;
    color: #faf9f6;
  }

  h3.result-title {
    color: #996a30;
    font-weight: 500;
    font-size: 4.5vw;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h4 {
    color: #a72849;
    font-size: 3.5vw;
    font-weight: 400;
    opacity: 70%;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.col.span-4-of-7.box {
    margin-left: 180px;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 1200px) {
  #mapid {
    height: 200px;
  }
  h2 {
    padding-top: 40vh;
  }
  .note {
    line-height: 4vw;
    font-size: 80%;
  }
  #menu {
    width: 10px;
    height: 10px;
  }

  .bar {
    width: 100%;
    height: 1px;
    margin-right: 8px;
  }

  .search {
    margin-left: 23px;
    margin-bottom: 0px;
  }

  label {
    padding: 5px;
    font-size: 80%;
  }

  button {
    font-size: 70%;
    margin-left: 23px;
    margin-top: 15px;
    position: initial;
  }

  input#title {
    margin-left: 23px;
  }

  a {
    font-size: 50%;
  }

  .fa {
    padding: 2px;
    font-size: 5px;
  }

  p#reference {
    font-size: 1.5vw;
  }

  #menu {
    margin-right: 8px;
  }

  .change-bg {
    height: 330px;
  }
}

@media only screen and (max-width: 761px) {
  div.col.span-4-of-7.box {
    margin-left: 90px;
  }

  .change-bg {
    height: 188px;
  }
}
