/* -------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------*/

html {
  background-color: #fff;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
}

p {
  font-size: 20px;
}

section {
  margin: 0;
  padding: 0;
}

/* -------------------------------------*/
/* HEADER */
/* -------------------------------------*/

header {
  background-color: rgb(39, 39, 39);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.logo-black {
  height: 100px;
  width: auto;
  float: left;
  margin: 2vh 2vh;
}

/*...................
..................*/
/* SECTION HERO*/
/* -------------------------------------*/

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
  font-weight: lighter;
  font-style: italic;
  font-size: 70%;
  padding: 20px 20px 20px 40px;
  border: 1px solid #ddd;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

label {
  color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 100%;
}

button {
  background-color: #a72a49;
  color: whitesmoke;
  padding: 8px 8px 8px 8px;
  border-radius: 100px;
  border: 1px solid #a72a49;
  cursor: pointer;
}

/*...................
..................*/
/* SECTION WOOD */
/* -------------------------------------*/

.section-wood {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/woodtexturebackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/*.....................................*/
/* SECTION GLASS */
/* -------------------------------------*/
.section-glass {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/glassimage.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: 0;
}

/*.....................................*/
/* SECTION CERAMIC */
/* -------------------------------------*/
.section-ceramic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/ceramicimage.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: 0;
}

/*.....................................*/
/* HEADINGS */
/* -------------------------------------*/
h1 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 700%;
  margin: 0;
}

h2 {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 350%;
  text-align: center;
  margin: auto;
  font-size: 500%;
  letter-spacing: 0.5vh;
  padding-top: 40vh;
}

/*.....................................*/
/* BURGER MENU */
/* -------------------------------------*/

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #a72a49;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: #fff;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg,
#menu-bar {
  top: 0;
  right: 0;
  float: right;
  position: fixed;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  overflow: hidden;
  background: radial-gradient(circle, #a72a49, #a72a49);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 550px;
  height: 500px;
  transform: translate(50%, -30%) rotate(-90deg);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}
