/* -------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------*/

html {
  background-color: #fff;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
}

p {
  font-size: 20px;
}

/* -------------------------------------*/
/* HEADER */
/* -------------------------------------*/

header {
  background-color: #0e0005;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.logo-black {
  z-index: 100;
  width: 4%;
  height: auto;
  margin: 2vh 2vh;
  position: fixed;
}

/*...................
..................*/
/* SECTION HERO*/
/* -------------------------------------*/

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.search {
  position: relative;
  width: 80%;
  font-weight: lighter;
  font-style: italic;
  font-size: 70%;
  padding: 20px 20px 20px 40px;
  border: 1px solid #ddd;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

label {
  color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 100%;
}

button {
  background-color: #a72a49;
  color: whitesmoke;
  padding: 8px 8px 8px 8px;
  border-radius: 100px;
  border: 1px solid #a72a49;
  cursor: pointer;
}

/*...................
..................*/
/* SECTION DESCRPTION OF WEBSITE*/
/* -------------------------------------*/

.description {
  color: #994830;
  background-position: center;
  background-attachment: fixed;
  margin: 10vh;
  text-align: center;
}

.note {
  position: relative;
  width: auto;
  padding: 1em 1em;
  margin: 2em auto;
  color: rgb(241, 238, 238);
  text-transform: uppercase;
  line-height: 3vw;
  background: #24000c;
  overflow: hidden;
  font-size: 150%;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #994b30 #994b30;
  background: #994b30;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox 3.0 damage limitation */
  display: block;
  width: 0;
}

.note.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

/*.....................................*/
/* MAP  */
/* -------------------------------------*/

#mapid {
  height: 500px;
  z-index: 0;
}
/*...................
..................*/
/* SECTION WOOD */
/* -------------------------------------*/

.section-wood {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/woodtexturebackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: 0px;
}

/*.....................................*/
/* SECTION GLASS */
/* -------------------------------------*/
.section-glass {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/glassimage.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: 0px;
}

/*.....................................*/
/* SECTION CERAMIC */
/* -------------------------------------*/
.section-ceramic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/ceramicimage.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: 0px;
}

/*.....................................*/
/* FOOTER*/
/* -------------------------------------*/

footer {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  font-size: 80%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

p#reference {
  color: whitesmoke;
  font-size: 0.8vw;
  padding-top: 2vw;
  text-align: right;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: whitesmoke;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.social-links li a:link,
.social-links li a:visited {
  color: whitesmoke;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #a72a49;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

/*.....................................*/
/* HEADINGS */
/* -------------------------------------*/
h1 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 10vw;
  letter-spacing: 0.1vw;
  margin: 0;
}

h2 {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 8.5vw;
  text-align: center;
  margin: auto;
  letter-spacing: 0.5vw;
  padding-top: 20vw;
}

h2:hover {
  color: #a72a49;
  cursor: pointer;
  transition: 0.5s ease;
}

p.result-title,
p.physdesc,
p.type,
p.collection,
p.period {
  font-size: 1.5vw;
  line-height: 2vw;
  color: #faf9f6;
}

h3.result-title {
  color: #996a30;
  font-weight: 500;
  font-size: 3.2vw;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3.result-title:after {
  display: none;
}

h4 {
  color: #a72849;
  font-size: 2vw;
  font-weight: 400;
  opacity: 70%;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.....................................*/
/* COLUMN DISPLAY */
/* -------------------------------------*/
.span-4-of-7 {
  border: solid 3px #872a49;
  margin: 0.9vw;
  padding: 1.5vw;
  margin-top: 0;
}
div.col.span-4-of-7.box {
  margin-left: 258px;
}

.item-container {
  background-color: #24000c;
  display: flexbox;
}

/*.....................................*/
/* BURGER MENU */
/* -------------------------------------*/

#menu {
  width: 25px;
  height: 20px;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #a72a49;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: #fff;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg,
#menu-bar {
  top: 0;
  right: 0;
  float: right;
  position: fixed;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  overflow: hidden;
  background: radial-gradient(circle, #a72a49, #a72a49);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}

#menu {
  margin-right: 14px;
}
.change-bg {
  width: 550px;
  height: 500px;
  transform: translate(50%, -30%) rotate(-90deg);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

/*.....................................*/
/*IMAGES */
/* -------------------------------------*/

.thumbnail {
  border: 0.3vw solid #996a30;
  padding: 2vw;
}

/* -------------------------------------*/
/* AUTOCOMPLETE SUGGESTIONS */
/* -------------------------------------*/

.autocomplete-suggestions {
  background: #a72a49;
  overflow: auto;
  border-radius: 8px;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #996a30;
}
.autocomplete-suggestions strong {
  color: #24000c;
}
.autocomplete-group {
  padding: 4px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 0.5px solid #fff;
}

.no-results {
  color: whitesmoke;
}
